extends layout

block content
  div#container
    div#timeline
      p.group-title 3o D
      div.card
        div.card-image
          img(src="/images/image.png")
        div.card-name
          p Sa&uacute;l Ch&aacute;vez
        a.card-show-more(href="/student?group=3d&id=1")
          p Ver m&aacute;s
      div.card
        div.card-image
          img(src="/images/image.png")
        div.card-name
          p Axel S&aacute;nchez
        a.card-show-more(href="/student?group=3d&id=2")
          p Ver m&aacute;s
      div.card
        div.card-image
          img(src="/images/image.png")
        div.card-name
          p Jose Luis Rodr&iacute;guez
        a.card-show-more(href="/student?group=3d&id=3")
          p Ver m&aacute;s
