extends layout

block content
  div#container
    div#timeline
      p.group-title 3o D
      each val, index in names
        div.card
          div.card-image
            img(src="/images/"+(index + 1)+".png")
          div.card-name
            p #{val}
          a.card-show-more(href="/student?id="+(index + 1))
            p Ver m&aacute;s
